@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Moo+Lah+Lah&family=Rubik+Moonrocks&display=swap');

body {
    margin: 0;
    position: relative;
    max-width: 100vw;
     margin: 0;
  height: 100vh;
  background: black;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;
}

.body__logo {
    height: 70px;
    z-index: 999;
    margin: 0;
    position: fixed;
}


a {
    text-decoration: none;
}

a:link {
    color: #BAA6D6;
}

a:visited {
    color: #BAA6D6;
}

a:hover {
    color: #8e7da5;
    color: white;
}

a:active {
    color: #dcc3ff;
}

.header {
    background: transparent;
    height: 70px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}


.header__container {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.header__icons {
    list-style-type: none;
    padding-top: 25px;
    padding-right: 30px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    position: fixed;
}

.header__insta {
    content: url(../img/logo_insta.svg);
    display: block;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 5px #BAA6D6, 0 0 10px #BAA6D6, 0 0 15px #BAA6D6, 0 0 20px #BAA6D6, 0 0 15px #BAA6D6;
    border-radius: 15px;
    background-color: white;
    padding: 5px;
}

.header__yt {
    content: url(../img/logo_yt.svg);
    display: block;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 5px #BAA6D6, 0 0 10px #BAA6D6, 0 0 15px #BAA6D6, 0 0 20px #BAA6D6, 0 0 15px #BAA6D6;
    border-radius: 15px;
    background-color: white;
    padding: 5px;

}
.header__pinterest {
    content: url(../img/logo_pinterest.svg);
    display: block;
    height: 20px;
    width: 20px;
    box-shadow: 0 0 5px #fff, 0 0 0px #fff, 0 0 0px #fff, 0 0 5px #BAA6D6, 0 0 10px #BAA6D6, 0 0 15px #BAA6D6, 0 0 20px #BAA6D6, 0 0 15px #BAA6D6;
    border-radius: 15px;
    background-color: white;
    padding: 5px;

}

.main {
    margin-top: 0;
     width: 100%;
height: 100vh;
    position: relative;
}

.hero__bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
    top: 0;
}


.cards-container {
  position: relative;
  top: 10%;
  z-index: 1;
  display: flex;
  align-items: center;
    flex-direction: column;
  gap: 40px;
  margin: 40px auto;
  margin-top: 0;
  max-width: 1200px;
   margin-top: 0;
}
.main__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cards__title {
    color: white;
        text-shadow:0 0 10px #BAA6D6, 0 0 20px #BAA6D6, 0 0 35px #BAA6D6, 0 0 55px #BAA6D6;
    font-family: "Barriecito", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.card {
    background-color: #BAA6D6;
    box-sizing: border-box;
    margin: 10px;
    height: 190px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.card__img {
    width: 100%;
    height: 100%;
        object-fit: cover;
}

.card__text {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: rgb(238, 238, 238);
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}


/* TABLET */
@media screen and (min-width: 576px) {

    .body__logo {
        position: fixed;
        left: 50%;
    }

    .header__icons {
        padding-right: 35px;
    }

    .header__insta {
        filter: grayscale(100%);
    }

    .header__yt {
        filter: grayscale(100%);
    }

    .header__pinerest {
        filter: grayscale(100%);
    }
    
    .header__insta:hover {
        filter: grayscale(0);
    }

    .header__yt:hover {
        filter: grayscale(0);
    }
    
     .header__pinterest:hover {
        filter: grayscale(0);
    }

    
.cards-container {
  display: flex;
    flex-direction: row;
}

/* DESKTOP */
@media screen and (min-width: 992px) {

    .body__logo {
        height: 70px;
        z-index: 999;
        margin: 0;
        position: fixed;
        top: 20px;
        left: 20px;
    }

        .body__logo:hover {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }

    .topnav {
        display: none;
    }

    .menu__btn {
        display: none;
    }

    .header {
        height: 100px;
    }

    .header__icons {
        padding-top: 35px;
    }

    .header__logo {
        list-style-type: none;
        padding-top: 20px;
        padding-right: 50px;
        z-index: 10;
        margin: 0;
    }

    .header__insta {
        content: url(../img/logo_cam.svg);
        display: block;
        height: 30px;
        width: 30px;
    }

    .header__yt {
        content: url(../img/logo_micro.svg);
        display: block;
        height: 30px;
        width: 30px;
    }

.cards-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 40px auto;
  margin-top: 0;
  max-width: 1200px;
   margin-top: 0;
}
.main__cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.cards__title {
    color: rgb(146, 134, 121);
    text-shadow: none;
    font-family: "Barriecito", system-ui;
    font-weight: 200;
    font-style: normal;
    font-size: 60px;
    margin-bottom: 0;
    padding-bottom: 10px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1000px;
}

.card {
    background-color: #BAA6D6;
    box-sizing: border-box;
    margin: 10px;
    height: 190px;
    width: 300px;
    position: relative;
    overflow: hidden;
}

.card__text {
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: rgb(238, 238, 238);
    position: absolute;
    top: 0;
    margin: 0;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
}

.cards__title:hover {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #BAA6D6, 0 0 30px #BAA6D6, 0 0 40px #BAA6D6, 0 0 55px #BAA6D6, 0 0 75px #BAA6D6;
}

    .card__img {
        filter: grayscale(100%);
    }

    .card__img:hover {
        filter: grayscale(100%);
        overflow: hidden;
        transition: transform 0.4s;
    }

    .card__img:hover {
        transform: scale(1.01);
        filter: grayscale(0);
    }

    .card:hover .card__text {
        text-shadow:0 0 10px #BAA6D6, 0 0 20px #BAA6D6, 0 0 35px #BAA6D6, 0 0 55px #BAA6D6;

}


